# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang-format

# Compilation databases
compile_commands.json

# IDEs
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Private files
src/secrets.h
data/secrets.json
